label{
  color: rgb(86, 86, 211);
}

input[type="text"] {
  font-size: 24px
}

.email-container{
  position: relative;
}

.email-tooltip{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  color: red;
}